
body{
    background-image: url(https://images.pexels.com/photos/1287075/pexels-photo-1287075.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    padding: 50px 150px;
    }

    .formdesign{
    font-size: 22px;
    color: rgb(255, 248, 255);
    
    }
    
    .formdesign input{
        width: 30%;
        padding: 10px 20px;
        border: 2px solid royalblue;
        margin: 15px;
        border-radius: 4px;
        font-size: 18px;
    }

    .formerror{
        color: red;
    }

    .but{
        border-radius: 10px;
        width: 95px;
        height: 30px;
        font-size: 22px;
        margin: 22px 20px;
    }